

h1{
    color: rgb(117, 28, 12);
}




#empty-string-error-message{
    display: none;
    color: chocolate;
    font-size: 20px;
}
#no-phone-error-message{
    display: none;
    font-size: 30px;
    color: rgb(136, 52, 13);
}